* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Yantramanav", sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(172, 207, 216);

}

.main {
    width: 400px;
    height: 520px;
    background-color: #fff;

    margin-top: 100px;

}


.header {
    background-color: rgb(87, 149, 219);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 20px;


}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #fff;
}

.title {
    color: #fff;
    font-size: 20px;
    margin-right: 130px;
    margin-left: 20px;

}

.close {
    width: 25px;
    height: 25px;
    opacity: .7;
}

.close:hover {
    opacity: 1;
}


.today {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #000;
    opacity: .3;
}

.line-top {
    width: 150px;
    /* height: 2px; */
}

.text-today {
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.time {
    font-size: 15px;
    color: #000;
    opacity: .5;
    margin-left: 20px;
    margin-right: 20px;

}

time:nth-child(2) {
    margin-right: auto;
}

.box {
    margin: 3px 20px 20px 20px;
    padding: 10px;
    border-radius: 5px;
}

.box1 {
    width: 300px;
    background-color: rgb(222, 244, 248);

}

.box2 {
    width: 300px;
    background-color: rgb(233, 233, 233);
    margin-left: 80px;

}

.box3 {
    width: 100px;
    background-color: rgb(222, 244, 248);

}

.box4 {
    width: 220px;
    background-color: rgb(250, 165, 165);
    margin-left: 160px;

}


text {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.line-bottom {
    margin-right: 20px;
    margin-left: 20px;
    color: #000;
    opacity: .3;
    margin-bottom: 20px;
}

input {
    border: none;
    outline: none;
    margin-left: 20px;
}

.button {
    color: blue;
    border: none;
    outline: none;
    background-color: none;
    font-weight: bold;
    margin-right: 20px;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}